In [1]:
import pandas as pd

In [3]:
df1 = pd.read_csv('./data/Data01.csv')

# 먼저 데이터 구조를 파악한다
print(df1.shape)
df1.head()

(15000, 7)

           날짜    상품명           바코드 발주가능상태  입고수량  카테고리  출고수량
0  2019-05-16   V2_0  8.801047e+12   발주가능   384  세탁세제    72
1  2019-05-16   V2_3  8.801047e+12   발주가능   207  세탁세제     5
2  2019-05-16   V2_7  8.801047e+12   발주가능   520  헤어케어    19
3  2019-05-16  V2_11  8.801047e+12   발주가능     0  세탁세제     5
4  2019-05-16  V2_14  8.801046e+12   발주가능    96  세탁세제     1

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      15000 non-null  object
 1   상품명     15000 non-null  object
 2   바코드     14992 non-null  float64
 3   발주가능상태  15000 non-null  object
 4   입고수량    15000 non-null  int64
 5   카테고리    15000 non-null  object
 6   출고수량    15000 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 820.4+ KB

In [5]:
df1['날짜'] # 시리즈(순열) -> 날짜(문자형데이터로 인식)

0        2019-05-16
1        2019-05-16
2        2019-05-16
3        2019-05-16
4        2019-05-16
            ...
14995    2019-08-07
14996    2019-08-07
14997    2019-08-07
14998    2019-08-07
14999    2019-08-07
Name: 날짜, Length: 15000, dtype: object

In [8]:
df1['날짜_datetime'] = pd.to_datetime(df1['날짜'])

In [9]:
df1.head(2)  # 날짜데이터를 datetime으로 인식

           날짜   상품명           바코드 발주가능상태  입고수량  카테고리  출고수량 날짜_datetime
0  2019-05-16  V2_0  8.801047e+12   발주가능   384  세탁세제    72  2019-05-16
1  2019-05-16  V2_3  8.801047e+12   발주가능   207  세탁세제     5  2019-05-16

In [14]:
df1['연도'] = df1['날짜_datetime'].dt.year # 년,월,일을 추출가능
# df1['날짜_datetime'].dt.month
# df1['날짜_datetime'].dt.day

In [15]:
df1.head(2)

           날짜   상품명           바코드 발주가능상태  입고수량  카테고리  출고수량 날짜_datetime    연도
0  2019-05-16  V2_0  8.801047e+12   발주가능   384  세탁세제    72  2019-05-16  2019
1  2019-05-16  V2_3  8.801047e+12   발주가능   207  세탁세제     5  2019-05-16  2019

In [16]:
# 피벗테이블 이용해서 추출
df1['월'] = df1['날짜_datetime'].dt.month
df1['주차'] = df1['날짜_datetime'].dt.week
df1['일자'] = df1['날짜_datetime'].dt.day
df1['요일'] = df1['날짜_datetime'].dt.day_name()

<ipython-input-16-5b30b2266e98>:3: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df1['주차'] = df1['날짜_datetime'].dt.week

In [17]:
df1.head(2)

,날짜,상품명,바코드,발주가능상태,입고수량,카테고리,출고수량,날짜_datetime,연도,월,주차,일자,요일
0,2019-05-16,V2_0,8.801047e+12,발주가능,384,세탁세제,72,2019-05-16,2019,5,20,16,Thursday
1,2019-05-16,V2_3,8.801047e+12,발주가능,207,세탁세제,5,2019-05-16,2019,5,20,16,Thursday

In [18]:
# 피벗테이블을 이용한 추출
pd.pivot_table(data=df1, index= '월', values='출고수량',aggfunc='sum')

    출고수량
월
5  19427
6  39397
7  40584
8   8670