# 시계열 분석 (Time Series)

* 시간 ! : 특정 간격 갖는 시간 (Lag)
    - Lag에서 Data의 Trend를 찾는다!
    
* 일변량 정상시계열
    - ARIMA

* Trend : 추세  
* Seasonality : 계절성  
* Cycle : 주기  
* Noise : 잡음 (시간에 따라 독립적인 데이터 평균이나 분산이 일정한 값)
    -> White Noise

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt

mpl.rc('font',family='Malgun Gothic')

In [4]:
df1 = pd.read_csv('Data11.csv')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 803675 entries, 0 to 803674
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   구매일     803675 non-null  object
 1   구매금액    803675 non-null  int64
 2   물품대분류   803675 non-null  object
dtypes: int64(1), object(2)
memory usage: 18.4+ MB

In [5]:
df1.head()

          구매일   구매금액 물품대분류
0  2018-04-20  57120   기저귀
1  2018-04-20  15900  더블하트
2  2018-04-20   7000  더블하트
3  2018-04-20  20900  더블하트
4  2018-05-06  26500  더블하트

In [7]:
df1.tail()

               구매일   구매금액 물품대분류
803670  2020-08-06  30960  더블하트
803671  2020-08-06   6640  더블하트
803672  2020-08-06   5600  더블하트
803673  2020-08-06   7840  더블하트
803674  2020-08-06   8500    기타

구매일 -> datetime

In [8]:
df1['Datetime'] = pd.to_datetime(df1['구매일'])

In [9]:
df1['Datetime'].describe()

<ipython-input-9-1eedf18d289e>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df1['Datetime'].describe()

count                  803675
unique                    589
top       2019-10-11 00:00:00
freq                    10500
first     2018-04-20 00:00:00
last      2020-08-07 00:00:00
Name: Datetime, dtype: object

In [11]:
df1['Year'] = df1['Datetime'].dt.year
df1['Month'] = df1['Datetime'].dt.month
df1['Week'] = df1['Datetime'].dt.week
df1['Day_of_week'] = df1['Datetime'].dt.day_name()

<ipython-input-11-093d56191f01>:3: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df1['Week'] = df1['Datetime'].dt.week

In [12]:
df1.head()

          구매일   구매금액 물품대분류   Datetime  Year  Month  Week Day_of_week
0  2018-04-20  57120   기저귀 2018-04-20  2018      4    16      Friday
1  2018-04-20  15900  더블하트 2018-04-20  2018      4    16      Friday
2  2018-04-20   7000  더블하트 2018-04-20  2018      4    16      Friday
3  2018-04-20  20900  더블하트 2018-04-20  2018      4    16      Friday
4  2018-05-06  26500  더블하트 2018-05-06  2018      5    18      Sunday